<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="imu_gazebo_v0">
    <gazebo reference="imu_link">
      <sensor type="imu" name="imu_sensor">
        <topic>/imu</topic>
        <update_rate>50</update_rate>
        <always_on>1</always_on>
        <visualize>1</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>